body {
    background-color: rgb(126, 120, 120);
}

.DataPribadi {
    background-color:rgb(226, 168, 61) ;
    margin: 100px;

    padding: 70px;
    
}

.Tentang {
    background-color:rgb(226, 168, 61) ;
    margin: 100px;
    justify-self: center;
    padding: 70px;
}

.poto img {
    justify-self: center;
    border-radius: 50%; 
    overflow: hidden;
    width: 150px;
    height: 150px; 
     
    
}

#p1 {
    color: black;
    border-bottom: 3px solid blue;
    display: inline-block;
}